@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');


:root {

  --background: #EAE2B7;
  --light: #FCBF49;
  --medium: #F77F00;
  --dark: #D62828;
  --darker: #003049;
}

html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: 'Poppins', "Times New Roman", Times, serif;
  background: var(--background)
}

.final-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }
  .final-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  .final-container {
    width: 90vw;
    max-width: 650px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: var(--light);
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
  }
  .final-header {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  .final-header h2 {
    color: var(--darker);
  }
  .final-header h3 {
    color: var(--darker);
  }
  .final-body {
    margin: 20px 0;
  }
  .final-body > * {
    margin: 1rem 0;
    padding: 0.25rem 0.5rem;
  }
  .final-footer {
    display: flex;
    justify-content: space-between;

  }
  .button-footer {
    padding: 1rem 2rem;
    background: var(--medium);
    border-radius: 7px;
    border: none;
    text-decoration: none;
    color: var(--background);
    transition: 0.3s;
  }
  .button-footer:active,
  .button-footer:focus {
    outline: none;
  }
  .button-footer:hover {
    transform: scale(1.2);
    font-weight: bold;
  }
  /*
   * The following styles are auto-applied to elements with
   * transition="final" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the final transition by editing
   * these styles.
   */
  .final-enter {
    opacity: 0;
  }
  .final-leave-active {
    opacity: 0;
  }
  .final-enter .final-container,
  .final-leave-active .final-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .final-text{
    text-align: center;
    color: var(--darker);
    font-size: 1.2em;
    padding-bottom: 30px;
  }

  .final-score{
    font-weight: bold;
  }