@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');


:root {

  --background: #EAE2B7;
  --light: #FCBF49;
  --medium: #F77F00;
  --dark: #D62828;
  --darker: #003049;
}

html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: 'Poppins', "Times New Roman", Times, serif;
  background: var(--background);
}

.header-quizz{
  height: 50px;
}

.header-div {
  overflow: hidden;
  background-color: var(--darker);
  position: fixed;
  width: 100%;
}

.header-div router-link {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.header-div button {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border: none;
}
.header-link{
  text-decoration: none;
}
.header-right{
  float: right;
  padding: 0px;
}

.header-link {
  float: right;
  background-color: var(--darker);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: var(--medium);
  font-weight: bold;
  transition: 0.2s;
}

.header-link:hover {
  background-color: var(--background);
  color:var(--darker);
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .header-div router-link {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.login{
    display:inline-block;
    transform:scale(1);
    transition: all 100ms linear;
  }
  button:hover > .login{
   font-weight: 700;
   transform:scale(1.8);
   transition: all 1000ms linear;
  }

  
  .LogoQuiz{
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
  }

  .home-title{
    margin: 0 0 30px;
    padding: 0;
    color: var(--darker);
    font-size: 2.5rem;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .div-home{
    margin-top: 50px;
  }

  #wrapper{
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 200px;

  }
  .my-super-cool-btn{
    position:relative;
    text-decoration:none;
    color: var(--medium);
    font-weight: bold;
    letter-spacing:1px;
    font-size:2rem;
    box-sizing:border-box;
  }
  .my-super-cool-btn span{
    position:relative;
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content:center;
    width:200px;
    height:200px;
  }
  .my-super-cool-btn span:before{
    content:'';
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    border-radius:100%;
    border:7px solid var(--medium);
    box-sizing:border-box;
    transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
    box-shadow: 0 30px 85px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
  }
  .my-super-cool-btn:hover span:before{
    transform:scale(0.8);
    box-shadow: 0 20px 55px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
  }
  .my-super-cool-btn .dots-container{
    opacity:0;
    animation: intro 1.6s;
    animation-fill-mode: forwards;
  }
  .my-super-cool-btn .dot{
    width:8px;
    height:8px;
    display:block;
    background-color:var(--darker);
    border-radius:100%;
    position:absolute;
    transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
  }
  .my-super-cool-btn .dot:nth-child(1){
    top:50px;
    left:50px;
    transform:rotate(-140deg);
    animation: swag1-out 0.3s;
    animation-fill-mode: forwards;
    opacity:0;
  }
  .my-super-cool-btn .dot:nth-child(2){
    top:50px;
    right:50px;
    transform:rotate(140deg);
    animation: swag2-out 0.3s;
    animation-fill-mode: forwards;
    opacity:0;
  }
  .my-super-cool-btn .dot:nth-child(3){
    bottom:50px;
    left:50px;
    transform:rotate(140deg);
    animation: swag3-out 0.3s;
    animation-fill-mode: forwards;
    opacity:0;
  }
  .my-super-cool-btn .dot:nth-child(4){
    bottom:50px;
    right:50px;
    transform:rotate(-140deg);
    animation: swag4-out 0.3s;
    animation-fill-mode: forwards;
    opacity:0;
  }
  .my-super-cool-btn:hover .dot:nth-child(1){
    animation: swag1 0.3s;
    animation-fill-mode: forwards;
  }
  .my-super-cool-btn:hover .dot:nth-child(2){
    animation: swag2 0.3s;
    animation-fill-mode: forwards;
  }
  .my-super-cool-btn:hover .dot:nth-child(3){
    animation: swag3 0.3s;
    animation-fill-mode: forwards;
  }
  .my-super-cool-btn:hover .dot:nth-child(4){
    animation: swag4 0.3s;
    animation-fill-mode: forwards;
  }
  @keyframes intro {
     0% {
       opacity:0;
    }
    100% {
       opacity:1;
    }
  }
  @keyframes swag1 {
     0% {
       top:50px;
       left:50px;
       width:8px;
    }
    50% {
      width:30px;
      opacity:1;
    }
    100% {
       top:20px;
       left:20px;
       width:8px;
       opacity:1;
    }
  }
  @keyframes swag1-out {
     0% {
       top:20px;
       left:20px;
       width:8px;
    }
    50% {
       width:30px;
      opacity:1;
    }
    100% {
       top:50px;
       left:50px;
       width:8px;
      opacity:0;
    }
  }
  @keyframes swag2 {
     0% {
       top:50px;
       right:50px;
       width:8px;
    }
    50% {
      width:30px;
      opacity:1;
    }
    100% {
       top:20px;
       right:20px;
       width:8px;
       opacity:1;
    }
  }
  @keyframes swag2-out {
     0% {
       top:20px;
       right:20px;
       width:8px;
    }
    50% {
       width:30px;
      opacity:1;
    }
    100% {
       top:50px;
       right:50px;
       width:8px;
      opacity:0;
    }
  }
  @keyframes swag3 {
     0% {
       bottom:50px;
       left:50px;
       width:8px;
    }
    50% {
      width:30px;
      opacity:1;
    }
    100% {
       bottom:20px;
       left:20px;
       width:8px;
       opacity:1;
    }
  }
  @keyframes swag3-out {
     0% {
       bottom:20px;
       left:20px;
       width:8px;
    }
    50% {
       width:30px;
      opacity:1;
    }
    100% {
       bottom:50px;
       left:50px;
       width:8px;
      opacity:0;
    }
  }
  @keyframes swag4 {
     0% {
       bottom:50px;
       right:50px;
       width:8px;
    }
    50% {
      width:30px;
      opacity:1;
    }
    100% {
       bottom:20px;
       right:20px;
       width:8px;
       opacity:1;
    }
  }
  @keyframes swag4-out {
     0% {
       bottom:20px;
       right:20px;
       width:8px;
    }
    50% {
       width:30px;
      opacity:1;
    }
    100% {
       bottom:50px;
       right:50px;
       width:8px;
      opacity:0;
    }
  }