


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

:root {
  --background: #E5FFB3;
  --light: #92DE34;
  --dark: #69BC22;
  --darker: #025600;
}

html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: var(--background)
}

div{
  font-family: 'Poppins', "Times New Roman", Times, serif;
}


.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background:  var(--light);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.form-box .user-box {
  position: relative;
}

.form-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--darker);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--darker);
  outline: none;
  background: transparent;
}
.form-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text);
  pointer-events: none;
  transition: .5s;
}

.form-box .user-box input:focus ~ label,
.form-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color:var(--darker);
  font-size: 12px;
  font-weight: 1000;
}




.form-box button {
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--dark);
  width: 400px;
  height: 70px;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--darker);
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px var(--dark) inset;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-box button:hover {
  background-image: linear-gradient(
    145deg,
    transparent 10%,
    var(--light) 10% 20%,
    transparent 20% 30%,
    var(--light) 30% 40%,
    transparent 40% 50%,
    var(--light) 50% 60%,
    transparent 60% 70%,
    var(--light) 70% 80%,
    transparent 80% 90%,
    var(--light) 90% 100%
    
  );
  animation: background 3s linear infinite;

  transform:scale(1.2);
  transition: all 1000ms linear;

}

@keyframes background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.form-box .registerLink{
    text-align: center;
}


boo{
  display:inline-block;
  transform:scale(1);
  transition: all 100ms linear;
}
button:hover > boo{
 font-weight: 700;
 transform:scale(1.8);
 transition: all 1000ms linear;
}


/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.title-form {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  margin: 0 0 30px;
  padding: 0;
  color: var(--darker);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
}


.title-form:hover, .title-form:focus, .title-form:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


/* Underline From Center */
.redirection-form {
  font-size: 15px;
  color: var(--darker);
  text-decoration: none;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.redirection-form:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--dark);
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.redirection-form:hover:before, .redirection-form:focus:before, .redirection-form:active:before {
  left: 0;
  right: 0;
}
